@import url("https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Rokkitt:wght@100..900&display=swap");
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --theme-color: #e11d48;
  --theme-color-rgb: 225, 29, 72;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-rokkitt: "Rokkitt", serif;
  --font-abeezee: "ABeeZee", sans-serif;
  --color-theme-accent: var(--theme-color);
}

.shadow-theme-glow {
  box-shadow: 0 0 12px rgba(var(--theme-color-rgb), 0.65);
}
.shadow-theme-glow-sm {
  box-shadow: 0 0 8px rgba(var(--theme-color-rgb), 0.8);
}
.shadow-theme-glow-lg {
  box-shadow: 0 0 20px rgba(var(--theme-color-rgb), 0.3);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 140% !important;
}


@keyframes m-player-animation {
  0% {
    rotate: 0deg;
  }

  25% {
    rotate: 2deg;
  }

  75% {
    rotate: -2deg;
  }

  100% {
    rotate: 0deg;
  }
}